@import "~@react-md/elevation/dist/mixins";

.search-results {
	@include rmd-elevation(3);
	grid-area: results;
	width: 99%;
	overflow-x: hidden;
}
.search-results-loading {
	width: 100%;
	min-height: 90vh;
	grid-area: results;
	display: flex;
	align-items: center;
	justify-content: center;
}
.loader {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
