.media-card {
	margin-left: 1em;
	width: 40vmin;
	height: 72vmin;
	transition: all 0.2s ease;
}
.media-card img {
	width: 40vmin;
	height: 60vmin;
}
.media-card-content {
	width: 40vmin;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.stars {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffea00;
}

.media-card:hover {
	transform: scale(1.05);
	cursor: pointer;
}
