.filter-card {
	width: 100%;
	margin: 10px 0;
}
.filter-card header {
	padding: 0.25em 0.5em;
}
.filter-card-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
