.search-box {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0 1em;
	border-radius: 3;
	height: 90%;
	transition: all 0.4s ease;
}
.search-box-open {
	width: 300px;
	background-color: rgba(255, 255, 255, 0.1);
}
.search-box-close {
	width: 24px;
}

.suggestions-menu {
	@include rmd-elevation(4);
	background-color: #424242;
	position: absolute;
	top: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.2em;
	transition: all 0.3s ease;
	z-index: 999;
}
.suggestions-menu-open {
	width: 150%;
}
.suggestions-menu-close {
	display: none;
	width: 0;
}
