@import "./variables";
@import "~react-md/dist/react-md";

html {
	scroll-behavior: smooth;
}

#root {
	width: 100%;
	min-height: 100vh;
}
.error {
	height: 80px;
	height: 200px;
	background-color: rgba(255, 0, 0, 0.6);
	border: 2px solid #ff0000;
	color: #fff;
}
@include react-md-utils;
